@font-face {
	font-family: Nexa;
	src: url("Nexa Light.otf") format("opentype");
}

#head {
	font-weight: bolder;
	font-size: 250%;
	font-family: Nexa;
	padding-top:18px;
}

#challenge{
	background-color:white;
	padding-bottom: 10px;
}
.btn.btnC {
  text-decoration:none;
  background-color: #4d4d4d;
  color: rgba(255, 255, 255, 0.7);
  color: #ffffff;
  font-weight: bold;
  width: 100%;
  margin: 0px;
   background-color: blue;
}
.btn.btnC.L{
  background-color: #2077af;
}
.btn.btnC.M{
  background-color:  #534658;
}
.btn.btnC.R{
  background-color: #9A479B;
}

.btn.btnC.L:hover{
  background-color: #a6deee;
  color: black;
}
.btn.btnC.M:hover{
  background-color: #94849b;
  color: black;
}
.btn.btnC.R:hover{
  background-color: violet;
  color: black;
}
.btn.btn-primary.btn-lg:hover{
	background-color: #a6deee;
  color: black;
}

.bottom_aligner {
    padding-top: 120px;
}
.bottom_aligner2 {
    padding-top: 50px;
     color:#a6deee;
}

table {
    border-collapse: collapse;
    text-align: center;
    width: 20%;
}


th,td{
  text-align: center;
}

tr{
	width:90%;
}

table.tablec {
    border-collapse: collapse;
    text-align: center;
    width: 10%;
}

.jumbotron{
  background: url("header_bg.png");
  background-repeat: no-repeat;
  background-size:cover;
}
