#challenge{
	background-color:white;
	padding-bottom: 10px;
}
.btn {
  text-decoration: none;
  background-color: #4d4d4d;
  color: rgba(255, 255, 255, 0.7);
  color: #ffffff;
  font-weight: bold;
  width: 100%;
  margin: 0px;
}
.btn.L {
  background-color: blue;
}
.btn.M {
  background-color: black;
}
.btn.R {
  background-color: violet;
}
.bottom_aligner {
    padding-top: 120px;
}