#challenge{
	background-color:white;
	padding-bottom: 10px;
}
.btn.btnC {
  text-decoration:none;
  background-color: #4d4d4d;
  color: rgba(255, 255, 255, 0.7);
  color: #ffffff;
  font-weight: bold;
  width: 100%;
  margin: 0px;
   background-color: blue;
}
.btn.btnC.L{
  background-color: blue;
}
.btn.btnC.M{
  background-color: black;
}
.btn.btnC.R{
  background-color: #9A479B;
}

.btn.btnC.L:hover{
  background-color: blue;
  color: black;
}
.btn.btnC.M:hover{
  background-color: black;
  color: black;
}
.btn.btnC.R:hover{
  background-color: violet;
  color: black;
}


.bottom_aligner {
    padding-top: 120px;
}
.bottom_aligner2 {
    padding-top: 50px;
}
table {
    border-collapse: collapse;
    text-align: center;
    width: 20%;
}
table.tablec {
    border-collapse: collapse;
    text-align: center;
    width: 10%;
}